.gitignore
.DS_Store
.*swp
.idea
.buildpath
.settings/
.project
nbproject/
protected/data/*
protected/models/ElementExample.php
protected/models/elements/ElementExample.php
protected/modules/*
!protected/modules/admin
protected/runtime/
protected/tests/report/
protected/tests/test_results/
protected/views/elements/ElementExample/
protected/commands/AssociateConsultantsWithSitesCommand.php
protected/commands/CorrespondenceDataCommand.php
protected/commands/DumpProcElementsCommand.php
protected/commands/ImportConsultantsCommand.php
protected/commands/ImportInstitutionsCommand.php
protected/commands/OpnoteDataCommand.php
protected/commands/AuditCommand.php
protected/commands/TestCommand.php
protected/commands/FirmSecretaryNumbersCommand.php
protected/commands/SiteReplyToAddressesCommand.php
protected/commands/SetEpisodeStatusCommand.php
protected/commands/ImportEpatientlettersCommand.php
protected/assets/
protected/commands/ErodRulesCommand.php
protected/commands/FirmSecretaryFaxNumbersCommand.php
protected/commands/FixLegacyLetters2Command.php
protected/commands/FixSitesCommand.php
protected/commands/ImportEPatientLettersSinceLaunchCommand.php
protected/commands/NewContactsCommand.php
protected/commands/Test2Command.php
protected/commands/Test3Command.php
tags
index.php
